cffi==2.0.0
cryptography==48.0.0
liboqs-python @ git+https://github.com/open-quantum-safe/liboqs-python.git@9ab93b648e0253087f3c627af3674c058ede391b
numpy==2.2.6
pillow==12.2.0
pycparser==3.0
tomli==2.4.1
typing_extensions==4.15.0
